#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.background-container {
  background-image: url('./assets/wall.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;

}

