:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}


body {
  margin: 0;
  display: flex;
  place-items: center;
  background-image: url('./assets/wall.jpg'); 
  background-size: cover; /* ou 'contain' dependendo do comportamento desejado */
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}


